
<div class="row">
    <div class="col-sm-12">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
            <h3 class="modal-title" id="modal-title">Manage Product</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <form accessible-form role="form" name="PerfomaProductInfo" id="PerfomaProductInfoId" ng-class="{'submitted': submitted}" ng-submit="submitted=true" novalidate>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div id="validation-summary" class="text-danger" hidden="hidden">
                                <ul></ul>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="ProductCode" class="control-label">Product Code: <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <input type="text" maxlength="50" class="form-control" id="ProductCode" name="ProductCode" data-ng-model="objPerfomaPrd.ProductCode" tabindex="0" placeholder="Product Code">
                                                <div class="input-group-btn">
                                                    <input type="button" value="Search" ng-click="GetAllUploadProductDataInfoById(objPerfomaPrd.ProductCode)" class="btn btn-primary">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center><b>OR</b></center>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="ddlCategory">Main Category :</label><b class="errorMsg">*</b>
                                        <elaunch-autocomplete min-chars="0" mode="CategoryMaster" id="Category" isdisplay="true"
                                                              placeholder="Enter Category"
                                                              value-changed="callback(value)" ng-model="objPerfomaPrd.CategoryData">
                                        </elaunch-autocomplete>
                                        <span class="errorMsg" ng-show="submitted && (objPerfomaPrd.CategoryData.Display =='' || objPerfomaPrd.CategoryData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Select Category</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="ddlSubCategory">Sub Category :</label><b class="errorMsg">*</b>
                                        <elaunch-autocomplete min-chars="0" mode="SubCategoryMaster" id="subcategory" isdisplay="objPerfomaPrd.CategoryData.Display != ''"
                                                              placeholder="Enter Sub Category" related-value="objPerfomaPrd.CategoryData.Value"
                                                              value-changed="callback(value)" ng-model="objPerfomaPrd.SubCategoryData">
                                        </elaunch-autocomplete>
                                        <span class="errorMsg" ng-show="submitted && (objPerfomaPrd.SubCategoryData.Display =='' || objPerfomaPrd.SubCategoryData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Select SubCategory</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="ddlProduct">Product :</label><b class="errorMsg">*</b>
                                        <elaunch-autocomplete min-chars="0" mode="ProductMaster" id="Product" isdisplay="objPerfomaPrd.SubCategoryData.Display != ''"
                                                              placeholder="Enter Product" related-value="objPerfomaPrd.SubCategoryData.Value"
                                                              value-changed="callback(value)" ng-model="objPerfomaPrd.ProductData">
                                        </elaunch-autocomplete>
                                        <span class="errorMsg" ng-show="submitted && (objPerfomaPrd.ProductData.Display =='' || objPerfomaPrd.ProductData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Select Product</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="ProductDescription" class="control-label">Product Description: <b class="errorMsg">*</b> </label>
                                        <textarea class="form-control" id="Address" name="ProductDescription" data-ng-model="objPerfomaPrd.ProductDescription" placeholder="Product Description" rows="3" cols="60" style="max-width: 100%;" required></textarea>
                                        <span class="errorMsg" ng-show="submitted && PerfomaProductInfo.ProductDescription.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Select Product Description</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductModelNo">Product Model No. : </label><b class="errorMsg">*</b>
                                            <input type="text" class="form-control" id="ProductModelNo" name="ProductModelNo" data-ng-model="objPerfomaPrd.ProductModelNo" required>
                                            <span class="errorMsg" ng-show="submitted && PerfomaProductInfo.ProductModelNo.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Enter Product ModelNo</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CountryOfOrigin">Country of Origin : </label><b class="errorMsg">*</b>
                                            <elaunch-autocomplete min-chars="0" mode="CountryOfOriginMaster" id="CountryOfOrigin" isdisplay="true"
                                                                  placeholder="Enter Product" 
                                                                  value-changed="callback(value)" ng-model="objPerfomaPrd.CountryOfOriginData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="submitted && (objPerfomaPrd.CountryOfOriginData.Display =='' || objPerfomaPrd.CountryOfOriginData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Select Product</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="DealerPrice">Product Price : </label><b class="errorMsg">*</b>
                                            <input type="text" class="form-control" id="DealerPrice" name="DealerPrice" data-ng-model="objPerfomaPrd.DealerPrice" ng-change="setPrice();" required>
                                            <span class="errorMsg" ng-show="submitted && PerfomaProductInfo.DealerPrice.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Enter Product Price</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="AddPerValue">Percentage : </label><b class="errorMsg">*</b>
                                            <input type="text" class="form-control" id="Persontage" name="AddPerValue" data-ng-model="objPerfomaPrd.AddPerValue" ng-change="setPrice();" maxlength="3" required>
                                            <span class="errorMsg" ng-show="submitted && PerfomaProductInfo.AddPerValue.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Enter Product Persontage</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ddlCurrency">Currency :</label><b class="errorMsg">*</b>
                                            <elaunch-autocomplete min-chars="0" mode="CurrencyMaster" id="Currency" isdisplay="true"
                                                                  placeholder="Enter Offer Price"
                                                                  value-changed="callback(value)" ng-model="objPerfomaPrd.CurrencyData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="submitted && (objPerfomaPrd.CurrencyData.Display =='' || objPerfomaPrd.CurrencyData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Select Currency</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="price">Offer Price : </label><b class="errorMsg">*</b>
                                            <input type="text" class="form-control" id="price" name="price" data-ng-model="objPerfomaPrd.OfferPrice" ng-change="setTotal();" readonly>
                                            @*<span class="errorMsg" ng-show="submitted && PerfomaProductInfo.price.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Enter Offer Price</span>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ddlCurrency"> Unit :</label><b class="errorMsg">*</b>
                                            <elaunch-autocomplete min-chars="0" mode="UnitMaster" id="Qty" isdisplay="true"
                                                                  placeholder="Enter Unit"
                                                                  value-changed="callback(value)" ng-model="objPerfomaPrd.QtyCodeValueData">
                                            </elaunch-autocomplete>
                                            <span class="errorMsg" ng-show="submitted && (objPerfomaPrd.QtyCodeValueData.Display =='' || objPerfomaPrd.QtyCodeValueData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Select Unit</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Qty">Quantity :</label><b class="errorMsg">*</b>
                                            <input type="text" class="form-control" id="Qty" name="Qty" data-ng-model="objPerfomaPrd.Qty" ng-change="setTotal();" required>
                                            <span class="errorMsg" ng-show="submitted && PerfomaProductInfo.Qty.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Select Quantity</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Total:{{objPerfomaPrd.Total}}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default btn-success" data-ng-click="PerfomaProductInfo.$valid && CreateUpdate(objPerfomaPrd)">Submit</button>
                                <button type="button" class="btn btn-default" data-ng-click="close()">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>