
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="SalesDocumentCtrl">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                @*<div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-dark bold uppercase">Add AgencyType</span>
                        </div>
                    </div>*@
                <div class="portlet-body">
                    @*<div>
                            <button type="button" class="btn btn-sm btn-info" data-ng-click="Add(0)" tabindex="1">Add New</button>
                        </div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <elaunchgrid data-grid-obj="gridObj" mode="SalesDocumentNameMaster" title="SalesDocument Name List" set-fn="setDirectiveRefresh(theDirFn)" onaddnew="Add(0)"></elaunchgrid>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <div id="myConfirmModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <ng-include src="'@Url.Action("AddSalesDocument", "SalesDocument")'"></ng-include>
</script>

@section Scripts
{
    @Scripts.Render("~/bundles/ElaunchControls")
    @Scripts.Render("~/bundles/SalesDocumentName")
}




