
<div class="row">
    <div class="col-sm-12">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.ok()">&times;</button>
            <h3 class="modal-title" id="modal-title">Manage Exhibition</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <form accessible-form role="form" name="ExhibitionFormInfo" id="ExhibitionFormInfoId" ng-class="{'submitted': submitted}" ng-submit="submitted = true" novalidate>
                            <fieldset ng-disabled="isClicked">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' :ExhibitionFormInfo.exbitionName.$invalid && !ExhibitionFormInfo.exbitionName.$pristine }">
                                                <label>Exhibition Name :</label><b class="errorMsg">*</b>
                                                <input type="text" id="exbitionName" name="exbitionName" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.ExName" placeholder="Exhibition's Name" ng-required="true" maxlength="100" />
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.exbitionName.$touched && ExhibitionFormInfo.exbitionName.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.exbitionName.$error.required">The Exhibition Name is required.</span>
                                                     </span>*@
                                                <span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.exbitionName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Exhibition Name is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Country :</label><b class="errorMsg">*</b>
                                                <elaunch-autocomplete min-chars="0" mode="CountryMaster" isdisplay="true"
                                                                      placeholder="Enter Country" id="Country"
                                                                      value-changed="callback(value)" ng-model="$ctrl.exhibitionObj.CountryName">
                                                </elaunch-autocomplete>
                                                @*<select class="form-control" data-ng-model="$ctrl.country" name="ddlCountry" ng-options="value.CountryId as value.CountryName for (key, value) in $ctrl.countries" data-ng-change="$ctrl.GetStates()" required>
                                                    <option value="">-- Select Country --</option>
                                                      </select>*@
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.CountryName.$touched && ExhibitionFormInfo.CountryName.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.CountryName.$error.required">Select Country</span>
                                                       </span>*@
                                                <span class="errorMsg" ng-show="submitted && ($ctrl.exhibitionObj.CountryName.Display == '' || $ctrl.exhibitionObj.CountryName.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Country is required.</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>State :</label><b class="errorMsg">*</b>
                                                <elaunch-autocomplete min-chars="0" mode="StateMaster" isdisplay="$ctrl.exhibitionObj.CountryName.Value!=''"
                                                                      placeholder="Enter State" id="State" related-value="$ctrl.exhibitionObj.CountryName.Value"
                                                                      value-changed="callback(value)" relate ng-model="$ctrl.exhibitionObj.StateName">
                                                </elaunch-autocomplete>
                                                @*<select ng-disabled="!$ctrl.states" name="ddlState" class="form-control" ng-model="$ctrl.State" ng-options="value.StateId as value.StateName for (key, value) in $ctrl.states" data-ng-change="$ctrl.GetCity()" required>
                                                    <option value="">-- Select State --</option>
                                                    </select>*@
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.StateName.$touched && ExhibitionFormInfo.StateName.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.StateName.$error.required">Select State</span>
                                                        </span>*@
                                                <span class="errorMsg" ng-show="submitted && ($ctrl.exhibitionObj.StateName.Display == '' || $ctrl.exhibitionObj.StateName.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;State is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>District :</label><b class="errorMsg">*</b>
                                                <elaunch-autocomplete min-chars="0" mode="CityMaster" isdisplay="$ctrl.exhibitionObj.StateName.Value!=''"
                                                                      placeholder="District Name" id="City" related-value="$ctrl.exhibitionObj.StateName.Value"
                                                                      value-changed="callback(value)" ng-model="$ctrl.exhibitionObj.CityName">
                                                </elaunch-autocomplete>
                                                @*<select ng-disabled="!$ctrl.city" name="ddlCity" class="form-control" ng-model="$ctrl.exhibitionObj.CityId" ng-options="value.CityId as value.CityName for (key, value) in $ctrl.city" required>
                                                    <option value="">-- Select City --</option>
                                                     </select>*@
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.CityName.$touched && ExhibitionFormInfo.CityName.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.CityName.$error.required">Select City</span>
                                                          </span>*@
                                                <span class="errorMsg" ng-show="submitted && ($ctrl.exhibitionObj.CityName.Display == '' || $ctrl.exhibitionObj.CityName.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;District is required.</span>
                                            </div>
                                        </div>

                                    </div>

                                    @*<div class="form-group">
                                                                <label>Area :</label>
                                                                <elaunch-autocomplete min-chars="0" mode="AreaMaster" isdisplay="$ctrl.exhibitionObj.CityName.Value!=''"
                                                                                      placeholder="Area Name" id="AreaName" related-value="$ctrl.exhibitionObj.CityName.Value"
                                                                                      value-changed="callback(value)" ng-model="$ctrl.exhibitionObj.AreaName">
                                                                </elaunch-autocomplete>
                                                                <span class="errorMsg" ng-show="submitted && ($ctrl.exhibitionObj.AreaName.Display == '' || $ctrl.exhibitionObj.AreaName.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Area Name is required.</span>
                                                                @*<select ng-disabled="!$ctrl.city" name="ddlCity" class="form-control" ng-model="$ctrl.exhibitionObj.CityId" ng-options="value.CityId as value.CityName for (key, value) in $ctrl.city" required>
                                            <option value="">-- Select City --</option>
                                        </select>*@
                                    @*<span class="errorMsg" ng-show="ExhibitionFormInfo.ddlCity.$touched && ExhibitionFormInfo.ddlCity.$invalid">
                                                <span ng-show="ExhibitionFormInfo.ddlCity.$error.required">Select City</span>
                                            </span>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Venue :</label><b class="errorMsg">*</b>
                                                <input type="text" id="venuename" name="venuename" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.Venue" placeholder="" ng-required="true" />
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.venuename.$touched && ExhibitionFormInfo.venuename.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.venuename.$error.required">Venue is required.</span>
                                                     </span>*@
                                                <span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.venuename.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Venue is required.</span>
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            <label>No. Of Years :</label><b class="errorMsg">*</b>
                                             <input type="text" id="yearName" maxlength="50" ng-pattern="/^[0-9]+([,.][0-9]+)?$/" name="yearName" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.NoofYears" placeholder="" ng-required="true" />
                                             @*<span class="errorMsg" ng-show="ExhibitionFormInfo.yearName.$touched && ExhibitionFormInfo.yearName.$invalid">
                                            <span ng-show="ExhibitionFormInfo.yearName.$error.required">No. Of Years is required.</span>
                                             </span>
                                            < span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.yearName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;No. Of Years is required.</span>
                                             </div>*@
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Exhibition Date :</label><b class="errorMsg">*</b>
                                                <elaunch-datepicker ng-model="$ctrl.exhibitionObj.ExDate" date-options="$ctrl.dateOptions" week-off="0" is-required="true"></elaunch-datepicker>
                                                @*<p class="input-group">
                                                        <input type="text" name="exDate" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.exhibitionObj.ExDate" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                       <span class="input-group-btn">
                                                     <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="fa fa-calendar"></i></button>
                                                            </span>
                                                         <span class="errorMsg" ng-show="ExhibitionFormInfo.exDate.$touched && ExhibitionFormInfo.exDate.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.exDate.$error.required">Exhibition Date is required.</span>
                                                      </span>
                                                      </p>*@
                                                <span class="errorMsg" ng-show="submitted && ($ctrl.exhibitionObj.ExDate == '' || $ctrl.exhibitionObj.ExDate == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Exhibition Date is required.</span>
                                            </div>
                                        </div>

                                    </div>

                                    @*<my-customer ng-model="$ctrl.dt" date-options="$ctrl.dateOptions1" week-off="0" ></my-customer>*@
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Exhibition Profile :</label><b class="errorMsg">*</b>
                                                <input type="text" id="exProfile" maxlength="100" name="exProfile" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.ExProfile" placeholder="" ng-required="true" />
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.exProfile.$touched && ExhibitionFormInfo.exProfile.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.exProfile.$error.required">Exhibition Profile is required.</span>
                                                    </span>*@
                                                <span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.exProfile.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Exhibition Profile is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Organizer Detail :</label><b class="errorMsg">*</b>
                                                <input type="text" id="orgDetailName" name="orgDetailName" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.OrganizerDetail" placeholder="" ng-required="true" />
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.orgDetailName.$touched && ExhibitionFormInfo.orgDetailName.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.orgDetailName.$error.required">Organizer Detail is required.</span>
                                                      </span>*@
                                                <span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.orgDetailName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Organizer Detail is required.</span>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <label>Bank Detail :</label><b class="errorMsg">*</b>
                                            <input type="text" id="bankDetailName" name="bankDetailName" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.BankDetail" placeholder="" ng-required="true" />
                                            @*<span class="errorMsg" ng-show="ExhibitionFormInfo.bankDetailName.$touched && ExhibitionFormInfo.bankDetailName.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.bankDetailName.$error.required">Bank Detail is required.</span>
                                                </span>
                                            <span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.bankDetailName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Bank Detail is required.</span>
                                        </div>*@

                                    <div class="form-group">
                                        <label>Address :</label><b class="errorMsg">*</b>
                                        <input type="text" id="addressName" name="addressName" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.Address" placeholder="" ng-required="true" />
                                        @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                <span ng-show="ExhibitionFormInfo.addressName.$error.required">Address is required.</span>
                                            </span>*@
                                        <span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Mobile :</label>
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        @*<elaunchflags ng-model="objUser.MobCodeData"></elaunchflags>*@
                                                        <div isteven-multi-select
                                                             input-model="MobCodeArray"
                                                             output-model="$ctrl.exhibitionObj.outputMobCode"
                                                             button-label="icon code name"
                                                             item-label="icon code name"
                                                             tick-property="ticked"
                                                             output-properties="name ticked id code"
                                                             selection-mode="single"
                                                             max-height="250px"></div>
                                                    </div>
                                                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" id="MobileNo" name="MobileNo" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.MobileNo" placeholder="" />
                                                </div>
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                    <span ng-show="ExhibitionFormInfo.addressName.$error.required">Address is required.</span>
                                                    </span>*@
                                                @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>*@
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Telephone :</label>
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        @*<elaunchflags ng-model="objUser.MobCodeData"></elaunchflags>*@
                                                        <div isteven-multi-select
                                                             input-model="TelCodeArray"
                                                             output-model="$ctrl.exhibitionObj.outputTelCode"
                                                             button-label="icon code name"
                                                             item-label="icon code name"
                                                             tick-property="ticked"
                                                             output-properties="name ticked id code"
                                                             selection-mode="single"
                                                             max-height="250px"></div>
                                                    </div>
                                                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" id="Tel" name="Tel" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.Tel" placeholder="Telephone" />
                                                </div>
                                                @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                          <span ng-show="ExhibitionFormInfo.addressName.$error.required">Address is required.</span>
                                                    </span>*@@*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                        <span ng-show="ExhibitionFormInfo.addressName.$error.required"></span>
                                                    </span>*@
                                                    @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>*@
                                                    @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i></span>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email :</label>
                                                    <input type="text" id="Email" maxlength="100" name="Email" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.Email" placeholder="" />
                                                    @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                               <span ng-show="ExhibitionFormInfo.addressName.$error.required">Address is required.</span>
                                                        </span>*@@*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                            <span ng-show="ExhibitionFormInfo.addressName.$error.required"></span>
                                                        </span>*@
                                                        @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>*@
                                                        @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i></span>*@
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Web :</label>
                                                        <input type="text" maxlength="100" id="Web" name="Web" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.Web" placeholder="" />
                                                        @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                                   <span ng-show="ExhibitionFormInfo.addressName.$error.required">Address is required.</span>
                                                            </span>*@
                                                        @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                                <span ng-show="ExhibitionFormInfo.addressName.$error.required"></span>
                                                            </span>*@
                                                        @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>*@
                                                        @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Contact Person :</label>
                                                        <input type="text" maxlength="100" id="ContactPerson" name="ContactPerson" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.ContactPerson" placeholder="" />
                                                        @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                                   <span ng-show="ExhibitionFormInfo.addressName.$error.required">Address is required.</span>
                                                            </span>*@
                                                        @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                                <span ng-show="ExhibitionFormInfo.addressName.$error.required"></span>
                                                            </span>*@
                                                        @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>*@
                                                        @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i></span>*@
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Chat :</label>
                                                        <input type="text" maxlength="100" id="Chat" name="Chat" class="form-control" data-modal="modal" ng-model="$ctrl.exhibitionObj.Chat" placeholder="" />
                                                        @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                                  <span ng-show="ExhibitionFormInfo.addressName.$error.required">Address is required.</span>
                                                            </span>*@
                                                        @*<span class="errorMsg" ng-show="ExhibitionFormInfo.addressName.$touched && ExhibitionFormInfo.addressName.$invalid">
                                                                <span ng-show="ExhibitionFormInfo.addressName.$error.required"></span>
                                                            </span>*@
                                                        @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>*@
                                                        @*<span class="errorMsg" ng-show="submitted && ExhibitionFormInfo.addressName.$error.required"><i class="fa fa-exclamation-triangle"></i></span>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-default btn-info btn-icon icon-left" @*ng-show="$ctrl.exhibitionObj.ExId==0" *@ data-ng-if="$ctrl.exhibitionObj.ExId <= 0 && isClicked == false" data-ng-click="$ctrl.exhibitionObj.CountryName.Display != '' && $ctrl.exhibitionObj.StateName.Display != '' && $ctrl.exhibitionObj.CityName.Display != '' && ExhibitionFormInfo.$valid && $ctrl.exhibitionSave($ctrl.exhibitionObj)"><i class="fa fa-save"></i>Save</button>
                                        <button type="submit" class="btn btn-default btn-info btn-icon icon-left" @*ng-show="$ctrl.exhibitionObj.ExId>0" *@ data-ng-if="$ctrl.exhibitionObj.ExId > 0 && isClicked == false" data-ng-click="$ctrl.exhibitionObj.CountryName.Display != '' && $ctrl.exhibitionObj.StateName.Display != '' && $ctrl.exhibitionObj.CityName.Display != '' && ExhibitionFormInfo.$valid && $ctrl.Update($ctrl.exhibitionObj)"><i class="fa fa-edit"></i>Update</button>
                                        @*<button type="button" class="btn btn-default btn-success" data-ng-click="$ctrl.Reset()" tabindex="15">Reset</button><button type="button" class="btn btn-default btn-success" data-ng-click="$ctrl.Reset()" tabindex="15"></button>*@
                                        <button type="button" class="btn btn-default" data-ng-click="$ctrl.ok()">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts
{
            @Scripts.Render("~/bundles/ElaunchControls")
            @Scripts.Render("~/bundles/Exhibition")
        }





