<div class="row">
    <div class="col-sm-12">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-ng-click="close()">&times;</button>
            <h3 class="modal-title" id="modal-title">Manage Country Origin Information</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <form accessible-form role="form" name="FormCountryOriginInfo" id="FormCountryOriginInfo" ng-class="{'submitted': submitted}" ng-submit="submitted = true" novalidate>
                            <fieldset ng-disabled="isClicked">
                                <div class="modal-body">
                                    @*<div class="form-group">
                                        <label for="CountryName">Country Name:<span class="text-danger">*</span> </label>
                                        <elaunch-autocomplete min-chars="0" mode="CountryMaster" id="Country" isdisplay="true"
                                                              placeholder="Enter Country" name="Country"
                                                              value-changed="callback(value)" ng-model="objorigin.CountryData" ng-required="true">
                                        </elaunch-autocomplete>
                                        <span class="errorMsg" ng-show="submitted && FormCountryOriginInfo.Country.$error.required || objorigin.CountryData.Display == ''"><i class="fa fa-exclamation-triangle"></i> &nbsp;Country Name is required.</span>
                                    </div>*@
                                    <div class="form-group">
                                        <label for="CountryOfOrigin">Country Origin Name:<span class="text-danger">*</span> </label>
                                        <input type="text" class="form-control" id="CountryOfOrigin" maxlength="100" name="CountryOfOrigin" data-ng-model="objorigin.CountryOfOrigin" ng-bind="objorigin" placeholder="CountryOfOrigin Name" required>
                                        <span class="errorMsg" ng-show="submitted && FormCountryOriginInfo.CountryOfOrigin.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Country Of Origin Name is required.</span>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-if="objorigin.OriginId <= 0 && isClicked == false" data-ng-click="objorigin.CountryData.Display != '' && FormCountryOriginInfo.$valid && Create(objorigin)"> <i class="fa fa-save"></i>Save</button>
                                <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-if="objorigin.OriginId > 0 && isClicked == false" data-ng-click="objorigin.CountryData.Display != '' && FormCountryOriginInfo.$valid && Update(objorigin)"><i class="fa fa-edit"></i>Update</button>
                                <button type="button" class="btn btn-default" data-ng-click="close()">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{

    @Scripts.Render("~/bundles/ElaunchControls")
    @Scripts.Render("~/bundles/CountryOrigin")
}
