<!--<elaunch-datepicker ng-model="params.filter()[name]" date-options="$scope.dateOptions" week-off="0" ></elaunch-datepicker>-->
<script type="text/ng-template" id="ng-table/filters/datefilter.html">
    <input type="date" value="2015-08-09" name="params.filter()[name]" placeholder="search" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope ng-empty">
    <button class="close btn-clear-ng-table-filter ng-scope" data-ng-click="params.filter()[name] = ''">×</button>
</script>