<div class="row" ng-init="setclause(@Session["UserId"])">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="panel panel-default follouppanel-body">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="taskno"><strong> Inquiry No : </strong> </label> {{MainDetails.InqNo || '-'}}
                            </div>
                            <div class="col-sm-6">
                                <label for="assgnfrom"> <strong>InqDate : </strong></label> {{iDate || '-'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="assgnfrom"><strong> Buyer Name : </strong></label> {{MainDetails.BuyerName || '-'}}
                            </div>
                            <div class="col-sm-6">
                                <label for="assgnfrom"> <strong>Subject : </strong> </label> {{MainDetails.Subject || '-'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div ng-if="setStatus == true">
                                    <elaunchgrid data-grid-obj="gridFollowupObj" is-add="true" fixedclause="{{FixClause}}" mode="InquiryFollowupMaster" set-fn="setDirectiveRefresh(theDirFn)" title="Inquiry Followup List" onaddnew="AddFollowup(0)"></elaunchgrid>
                                </div>
                                <div ng-if="setStatus == false">
                                    <elaunchgrid data-grid-obj="gridFollowupObj" is-add="false" fixedclause="{{FixClause}}" mode="InquiryFollowupMaster" set-fn="setDirectiveRefresh(theDirFn)" title="Inquiry Followup List" onaddnew="AddFollowup(0)"></elaunchgrid>
                                </div>
                            </div>
                        </div>
 
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12" style="margin-bottom:10px;">
            <div class="box-footer">
                <button type="button" class="btn btn-default btn-default pull-right" data-ng-click="close()">Close</button>
            </div>
        </div>
            <!-- END PORTLET-->
        </div>

</div>
