<div class="row">
    <div class="col-sm-12">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-ng-click="$ctrl.ok()">&times;</button>
            <h3 class="modal-title" id="modal-title">Manage Document</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <form accessible-form role="form" name="FormDoc" id="FormCategoryInfo" ng-class="{'submitted': submitted}" ng-submit="submitted=true" novalidate>
                            <fieldset ng-disabled="isClicked">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div id="validation-summary" class="text-danger" hidden="hidden">
                                    <ul></ul>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label>Document Name :</label>
                                        <input type="text" id="DocName" name="DocName" class="form-control" data-modal="modal" ng-model="$ctrl.Documentobj.DocName" placeholder="Document Name" ng-required="true" maxlength="100" />
                                        @*<span class="errorMsg" ng-show="FormDoc.DocName.$touched && FormDoc.DocName.$invalid">
                                                <span ng-show="FormDoc.DocName.$error.required">The Document Name is required.</span>
                                            </span>*@
                                        <span class="errorMsg" ng-show="submitted && FormDoc.DocName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Document Name is required.</span>
                                    </div>


                                </div>
                            </fieldset>
                            <div class="modal-footer">
                                @*<button type="button" class="btn btn-sm btn-info btn-icon icon-left" data-ng-if="bankData.BankId <= 0" data-ng-disabled="FormCategoryInfo.$invalid" tabindex="15"> <i class="fa fa-save"></i>Save</button>
                                    <button type="button" class="btn btn-sm btn-info btn-icon icon-left" data-ng-if="bankData.BankId > 0 " data-ng-disabled="FormCategoryInfo.$invalid" data-ng-click="Update(objCategory)" tabindex="14"><i class="fa fa-edit"></i>Update</button>*@
                                <button type="submit" @*ng-show="$ctrl.Documentobj.DocId==0"*@ data-ng-if="$ctrl.Documentobj.DocId<=0 && isClicked == false"  class="btn btn-default btn-info btn-icon icon-left" data-ng-click="FormDoc.$valid && $ctrl.saveDoc($ctrl.Documentobj)"><i class="fa fa-save"></i>Save</button>
                                <button type="submit" @*ng-show="$ctrl.Documentobj.DocId>0"*@ data-ng-if="$ctrl.Documentobj.DocId>0 && isClicked == false"  class="btn btn-default btn-info btn-icon icon-left" data-ng-click="FormDoc.$valid && $ctrl.UpdateDoc($ctrl.Documentobj)"><i class="fa fa-edit"></i>Update</button>
                                @*<button type="button" class="btn btn-default btn-success" data-ng-click="$ctrl.Reset()" tabindex="15">Reset</button>*@
                                <button type="button" class="btn btn-default" data-ng-click="$ctrl.ok()">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



