
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="PurchaseOrderCtrl">
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <elaunchgrid data-grid-obj="gridObj" mode="PurchaseOrderMaster" title="Purchase Order List" set-fn="setDirectiveRefresh(theDirFn)" onaddnew="Add()"></elaunchgrid>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/ElaunchControls")
    @Scripts.Render("~/bundles/PurchaseOrder")
}

