
@{
    Layout = null;
}

<!DOCTYPE html>
<div class="row">
    <div class="col-sm-12">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-ng-click="close()">&times;</button>
            <h3 class="modal-title" id="modal-title">Manage Religion</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <form accessible-form role="form" name="FormReligionInfo" id="FormReligionInfo" ng-class="{'submitted': submitted}" ng-submit="submitted=true" novalidate>
                            <fieldset ng-disabled="isClicked">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="ReligionName">Religion Name:<span class="text-danger">*</span> </label>
                                        <input type="text" class="form-control" maxlength="100" id="ReligionName" name="ReligionName" data-ng-model="objReligion.ReligionName" ng-bind="objReligion" placeholder="Religion Name" required>
                                        @*<div data-ng-show="FormReligionInfo.ReligionName.$dirty && FormReligionInfo.ReligionName.$invalid" class="label label-danger">
                        Invalid: <span data-ng-show="FormReligionInfo.ReligionName.$error.required">Tell us Religion Name.</span>
                    </div>*@
                                        <span class="errorMsg" ng-show="submitted && FormReligionInfo.ReligionName.$error.required"><i class="fa fa-exclamation-triangle"></i> &nbsp;Religion Name is required.</span>
                                    </div>
                                </div>
                                </fieldset>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-if="id <= 0 && isClicked == false" data-ng-click="FormReligionInfo.$valid && Create(objReligion)"> <i class="fa fa-save"></i>Save</button>
                                    <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-if="id > 0 && isClicked == false" data-ng-click="FormReligionInfo.$valid && Update(objReligion)"><i class="fa fa-edit"></i>Update</button>
                                    @*<button type="button" class="btn btn-default btn-success" data-ng-click="Reset()" tabindex="15">Reset</button>*@
                                    <button type="button" class="btn btn-default" data-ng-click="close()">Close</button>
                                </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
   @Scripts.Render("~/bundles/ElaunchControls")
@Scripts.Render("~/bundles/Religion")
}