@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ng-view>
    <div data-ng-controller="BuyerCtrl" ng-init="myinit()">


        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <elaunchgrid data-grid-obj="gridObj" mode="BuyerMaster" title="Contact Registration List" set-fn="setDirectiveRefresh(theDirFn)" onaddnew="Add(0)"></elaunchgrid>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
    </div>
</ng-view>
@section Scripts
{
    @Scripts.Render("~/bundles/ElaunchControls")
    @Scripts.Render("~/bundles/Buyer")
    <script type="text/javascript">
        angular.element(document).ready(function () {
            setTimeout(function () {
                $(".MailTo").each(function () {
                    var mailto = '';
                    var emails = $(this).text().split(',');
                    for (i = 0; i < emails.length; i++) {
                        mailto += mailto == '' ? '' : ',';
                        mailto += '<a mailto="' + emails[i] + '">' + emails[i] + '</a>';
                    }
                    $(this).html(mailto);
                });
            }, 0);
        });

    </script>
}
