
<div >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">FriendsInfo</h4>
        <div ng-bind="abc"></div>
    </div>
   
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <elaunchgrid data-grid-obj="gridObj"></elaunchgrid>
        </div>
    </div>
</div>
@section Scripts
{

    <script src="~/Scripts/Directive/ElaunchGrid.js"></script>
    <script src="~/Scripts/Controller/Demo1Ctrl.js"></script>
}