
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="BillofLoadingCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div>
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <elaunchgrid data-grid-obj="gridObj" mode="BillofLoadingMaster" set-fn="setDirectiveRefresh(theDirFn)" onaddnew="Add(0)" title="Bill of Loading List"></elaunchgrid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/PdfConvert")
    @Scripts.Render("~/bundles/ElaunchControls")
    @Scripts.Render("~/bundles/BillofLoading")
}
