
@{
    ViewBag.Title = "AddShippingOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-controller="ShippingOrderCtrl">
    <div class="row" data-ng-init="SetShippingOrderId(@ViewBag.id,@ViewBag.isdisable)">
        <div class="col-sm-12">
            <form accessible-form role="form" name="FormShippingOrderInfo" id="FormShippingOrderInfo" ng-class="{'submitted': submitted}" ng-submit="submitted = true" novalidate>
                <fieldset ng-disabled="isClicked">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <div>
                                <h3 class="box-title">
                                    <span data-ng-if="addMode">Add</span>
                                    <span data-ng-if="!addMode">Edit</span> ShippingOrder
                                </h3>
                            </div>
                            <div>
                                <span><a href="~/Operation/ShippingOrder"> <i class="fa fa-chevron-left"></i> Back</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="margin:0">Main Details</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="TypeofShipment"> Type Of Shipment: </label>
                                                <input type="text" class="form-control" id="TypeofShipment" name="TypeofShipment" data-ng-model="objShippingOrder.TypeofShipment">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="Commodity"> Commodity:<span class="text-danger">*</span> </label>
                                                <input type="text" class="form-control" id="Commodity" name="Commodity" data-ng-model="objShippingOrder.Commodity">
                                                @*<span class="errorMsg" ng-show="submitted && (objShippingOrder.InqDate == '' || objShippingOrder.InqDate == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Date is required.</span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="Nooftotal"> No Of Total Packages: </label>
                                                <input type="text" class="form-control" id="Nooftotal" name="Nooftotal" data-ng-model="objShippingOrder.Nooftotal">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="NoofBL"> No Of BL Required:<span class="text-danger">*</span> </label>
                                                <input type="text" class="form-control" id="NoofBL" name="NoofBL" data-ng-model="objShippingOrder.NoofBL">
                                                @*<span class="errorMsg" ng-show="submitted && (objShippingOrder.InqDate == '' || objShippingOrder.InqDate == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Date is required.</span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="margin:0">Cargo Pickup Address</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="CPBuyerNameData">Name :<span class="text-danger">*</span> </label>
                                                <elaunch-autocomplete min-chars="0" mode="BuyerMaster" id="CPBuyerNameData" isdisplay="true"
                                                                      placeholder="Enter Name" tabindex="2"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.CPBuyerNameData">
                                                </elaunch-autocomplete>
                                                <span class="errorMsg" ng-show="submitted && (objShippingOrder.CPBuyerNameData.Display ==''||objShippingOrder.CPBuyerNameData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Name is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="CPBuyerAddress">Address :<span class="text-danger">*</span> </label>
                                                <elaunch-autocomplete min-chars="0" mode="BuyerAddressDetail" id="CPBuyerAddress" isdisplay="objShippingOrder.CPBuyerNameData.Value!=''"
                                                                      placeholder="Enter Address" tabindex="2" related-value="objShippingOrder.CPBuyerNameData.Value"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.CPBuyerAddressData">
                                                </elaunch-autocomplete>
                                                <span class="errorMsg" ng-show="submitted && (objShippingOrder.CPBuyerAddressData.Display ==''||objShippingOrder.CPBuyerAddressData.Display ==null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="CPBuyerTelephone">Telephone : <span class="text-danger">*</span></label>
                                                <elaunch-mobile ng-model="CPBuyerTelephone" placeholder="Enter Telephone Number" telcode-array="CPtelCodeData"></elaunch-mobile>
                                                <span class="errorMsg" ng-show="submitted && (FormShippingOrderInfo.CPBuyerTelephone.$error.required || CPBuyerTelephone == null || CPBuyerTelephone == '') "><i class="fa fa-exclamation-triangle"></i> &nbsp;Telephone is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="CPBuyerFax">Fax : <span class="text-danger">*</span></label>
                                                <elaunch-mobile ng-model="CPBuyerFax" placeholder="Enter Fax Number" telcode-array="CPfaxCodeData"></elaunch-mobile>
                                                <span class="errorMsg" ng-show="submitted && (FormShippingOrderInfo.CPBuyerFax.$error.required || CPBuyerFax == null || CPBuyerTelephone == '') "><i class="fa fa-exclamation-triangle"></i> &nbsp;Fax is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="CPBuyerContactPerson">Attn (Contact Person) :<span class="text-danger">*</span> </label>
                                                <elaunch-autocomplete min-chars="0" mode="BuyerContactMaster" id="CPBuyerContactPerson" isdisplay="objShippingOrder.CPBuyerNameData.Value!=''"
                                                                      placeholder="Enter Contact Person" tabindex="2" related-value="objShippingOrder.CPBuyerNameData.Value"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.CPBuyerContactPersonData">
                                                </elaunch-autocomplete>
                                                <span class="errorMsg" ng-show="submitted && (objShippingOrder.CPBuyerContactPersonData.Display ==''||objShippingOrder.CPBuyerContactPersonData.Display ==null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Attn (Contact Person) is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="margin:0">Export Document Provider</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="EDBuyerName">Name :<span class="text-danger">*</span> </label>
                                                <elaunch-autocomplete min-chars="0" mode="BuyerMaster" id="EDBuyerName" isdisplay="true"
                                                                      placeholder="Enter Name" tabindex="2"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.EDBuyerNameData">
                                                </elaunch-autocomplete>
                                                <span class="errorMsg" ng-show="submitted && (objShippingOrder.EDBuyerNameData.Display ==''||objShippingOrder.EDBuyerNameData.Display ==null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Name is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="EDBuyerAddress">Address :<span class="text-danger">*</span> </label>
                                                <elaunch-autocomplete min-chars="0" mode="BuyerAddressDetail" id="EDBuyerAddress" isdisplay="objShippingOrder.EDBuyerNameData.Value!=''"
                                                                      placeholder="Enter Address" tabindex="2" related-value="objShippingOrder.EDBuyerNameData.Value"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.EDBuyerAddressData">
                                                </elaunch-autocomplete>
                                                <span class="errorMsg" ng-show="submitted && (objShippingOrder.EDBuyerAddressData.Display ==''||objShippingOrder.EDBuyerAddressData.Display ==null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Address is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="EDBuyerTelephone">Telephone : <span class="text-danger">*</span></label>
                                                <elaunch-mobile ng-model="EDBuyerTelephone" placeholder="Enter Telephone Number" telcode-array="EDtelCodeData"></elaunch-mobile>
                                                <span class="errorMsg" ng-show="submitted && (FormShippingOrderInfo.EDBuyerTelephone.$error.required || EDBuyerTelephone == null || EDBuyerTelephone == '') "><i class="fa fa-exclamation-triangle"></i> &nbsp;Telephone is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="EDBuyerContactPerson">Attn (Contact Person) :<span class="text-danger">*</span> </label>
                                                <elaunch-autocomplete min-chars="0" mode="BuyerContactMaster" id="EDBuyerContactPerson" isdisplay="objShippingOrder.EDBuyerNameData.Value!=''"
                                                                      placeholder="Enter Contact Person" tabindex="2" related-value="objShippingOrder.EDBuyerNameData.Value"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.EDBuyerContactPersonData" ng-required="true">
                                                </elaunch-autocomplete>
                                                <span class="errorMsg" ng-show="submitted && (objShippingOrder.EDBuyerContactPersonData.Display ==''||objShippingOrder.EDBuyerContactPersonData.Display ==null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Attn (Contact Person)  is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="POL">Port Of Loading :<span class="text-danger">*</span> </label>
                                                <elaunch-autocomplete min-chars="0" mode="PortMaster" id="POL" isdisplay="true"
                                                                      placeholder="Enter Telephone" tabindex="2"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.POLData" ng-required="true">
                                                </elaunch-autocomplete>
                                                <span class="errorMsg" ng-show="submitted && (objShippingOrder.POLData.Display ==''||objShippingOrder.POLData.Display ==null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Telephone is required.</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="POD">Port Of Discharge :<span class="text-danger">*</span> </label>
                                                <elaunch-autocomplete min-chars="0" mode="PortMaster" id="POD" isdisplay="true"
                                                                      placeholder="Enter Fax" tabindex="2"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.PODData" ng-required="true">
                                                </elaunch-autocomplete>
                                                <span class="errorMsg" ng-show="submitted && (objShippingOrder.PODData.Display ==''||objShippingOrder.PODData.Display ==null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Fax is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="Freight"> Freight: </label>
                                                <input type="text" class="form-control" id="Freight" name="Freight" data-ng-model="objShippingOrder.Freight">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="margin:0">Perticulars Declared by Shipper</h3>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="ProductDescriptionData"> Product Description: </label>
                                                @*<input type="text" class="form-control" id="ProductDescription" name="ProductDescriptionData" data-ng-model="objShippingOrder.ProductDescription">*@
                                                <elaunch-autocomplete min-chars="0" mode="ProductMaster" id="ProductDescriptionData" isdisplay="true"
                                                                      placeholder="Enter Product Description" name="ProductDescriptionData" tabindex="6"
                                                                      value-changed="callback(value)" ng-model="objShippingOrder.ProductDescriptionData">
                                                </elaunch-autocomplete>
                                                @*<span class="errorMsg" ng-show="submitted && (objShippingOrder.ProductDescriptionData.Display == '' || objShippingOrder.ProductDescriptionData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Product Description is required.</span>*@
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <br/>
                                                <input type="button" class="btn btn-primary" name="btnProductDescription" ng-click="AddProduct(objShippingOrder)" value="Add Product">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                @*<th>Category</th>
                                                                <th>SubCategory</th>*@
                                                                <th>Product</th>
                                                                @*<th>Description</th>*@
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data-ng-repeat="list in objShippingOrder.ProductDetails | filter: statusFilter">
                                                                @*<td>{{list.Category || '-'}}</td>
                                                                <td>{{list.SubCategory || '-'}}</td>*@
                                                                <td>{{list.ProductName || '-' }}</td>
                                                                @*<td>{{list.Description || '-'}}</td>*@
                                                                <td>
                                                                    @*<a href="#" class="btn btn-xs default btn-editable" data-tooltip="Edit" data-ng-click="EditProduct(list,$index)" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-pencil pr2"></i></a>*@
                                                                    <a href="#" class="btn btn-danger btn-xs" data-final-confirm-box="" data-callback="DeleteProduct(list,$index)" data-message="Are you sure want to delete?" data-tooltip="Delete" data-tooltip-placement="top" data-tooltip-trigger="mouseenter"><i class="fa fa-trash pr2"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr data-ng-show="objShippingOrder.PurchaseDetails.length <= 0">
                                                                <td colspan="3"> <span class="text-danger text-center"> Record not found.</span> </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="ShippingMarksNumber"> Shipping Marks & Number: </label>
                                                <input type="text" class="form-control" id="ShippingMarksNumber" name="ShippingMarksNumber" data-ng-model="objShippingOrder.ShippingMarksNumber">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="TotalNOPkgs"> Total NO Pkgs: </label>
                                                <input type="text" class="form-control" id="TotalNOPkgs" name="TotalNOPkgs" data-ng-model="objShippingOrder.TotalNOPkgs">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="TotalGross"> Total Gross Weight in Kilos: </label>
                                                <input type="text" class="form-control" id="TotalGross" name="TotalGross" data-ng-model="objShippingOrder.TotalGross">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="Measurement"> Measurement in CBM: </label>
                                                <input type="text" class="form-control" id="Measurement" name="Measurement" data-ng-model="objShippingOrder.Measurement">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                                </div>

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" style="margin:0">Shipment Terms</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="Shipmentterms" class="control-label">About Bill of loading issuance :<span class="text-danger">*</span></label>
                                                        <elaunch-autocomplete min-chars="0" mode="DeliveryTermsMaster" id="Shipmentterms" isdisplay="true"
                                                                              placeholder="Enter Country" name="Country" tabindex="6"
                                                                              value-changed="callback(value)" ng-model="objShippingOrder.ShipmenttermsData">
                                                        </elaunch-autocomplete>
                                                        <span class="errorMsg" ng-show="submitted && (objShippingOrder.ShipmenttermsData.Display == '' || objShippingOrder.ShipmenttermsData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Country is required.</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="CompanyName" class="control-label">Company:<span class="text-danger">*</span></label>
                                                        <elaunch-autocomplete min-chars="0" mode="CompanyMaster" id="State" name="CompanyName" placeholder="Enter State" isdisplay="true"
                                                                              value-changed="callback(value)" ng-model="objShippingOrder.CompanyNameData" tabindex="7">
                                                        </elaunch-autocomplete>
                                                        <span class="errorMsg" ng-show="submitted && (objShippingOrder.CompanyNameData.Display == '' || objShippingOrder.CompanyNameData.Display == null)"><i class="fa fa-exclamation-triangle"></i> &nbsp;Company Name is required.</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                </fieldset>
                <div class="box-footer">
                    <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-if="addMode && isClicked == false" data-ng-click="EDBuyerTelephone != '' && EDBuyerTelephone != null && CPBuyerFax != '' && CPBuyerFax != null && CPBuyerTelephone != '' && CPBuyerTelephone != null && objShippingOrder.CPBuyerNameData.Display != ''  && objShippingOrder.CountryData.Display != '' && objShippingOrder.StateData.Display != '' && objShippingOrder.CityData.Display != '' && objShippingOrder.AreaData.Display != '' && FormShippingOrderInfo.$valid && CreateUpdate(objShippingOrder)" tabindex="13"> <i class="fa fa-save"></i>Save</button>
                    <button type="submit" class="btn btn-default btn-info btn-icon icon-left" data-ng-if="!addMode && isClicked == false" data-ng-click="EDBuyerTelephone != '' && EDBuyerTelephone != null && CPBuyerFax != '' && CPBuyerFax != null && CPBuyerTelephone != '' && CPBuyerTelephone != null && objShippingOrder.CPBuyerNameData.Display != ''  && objShippingOrder.CountryData.Display != '' && objShippingOrder.StateData.Display != '' && objShippingOrder.CityData.Display != '' && objShippingOrder.AreaData.Display != '' && FormShippingOrderInfo.$valid && CreateUpdate(objShippingOrder)" tabindex="14"><i class="fa fa-edit"></i>Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/ElaunchControls")
    @Scripts.Render("~/bundles/ShippingOrder")
}